<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<body style="background-color: rgb(251, 251, 166)">
  <div class="container text-center">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1 style="font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;">The generated password is ::</h1>

    <h2 class="alert alert-danger">{{password}}</h2>

    <a href="{% url 'register'%}" , class="btn btn-primary">Back to SignUp</a>
  </div>
</body>
